body {
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

h2 {
    color: #004d99;
    font-weight: bold;
}

.prediction-box {
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prediction-box.low { background-color: #28a745; }
.prediction-box.medium-low { background-color: #ffc107; color: black; }
.prediction-box.medium { background-color: #fd7e14; }
.prediction-box.medium-high { background-color: #fd5361; }
.prediction-box.high { background-color: #dc3545; }

.btn-primary {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: none;
    font-weight: 600;
    padding: 10px;
}

.btn-primary:hover {
    opacity: 0.9;
}

.img-fluid {
    border-radius: 15px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}
